<div class="card card-body">
  <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
    <div class="mr-lg-3 mb-3 mb-lg-0">
    </div>

    <div class="media-body">
      <h6 class="media-title font-weight-semibold">
        <a href="#"><%= "#{f.name} - #{f.email}" %></a>
      </h6>

      <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
        <li class="list-inline-item">Giờ:
          <a href="#" class="text-muted">
            <%= format_datetime_hour(f.created_at) %>
          </a>
        </li>
        <li class="list-inline-item">Ngày:
          <a href="#" class="text-muted">
            <%= format_datetime_day(f.created_at) %>
          </a>
        </li>
      </ul>

      <p class="mb-3">Nội dung: <%= f.content %></p>

      <ul class="list-inline list-inline-dotted mb-0">
        <li class="list-inline-item">Cửa hàng: <a href="#"><%= f.store_name %></a></li>
        <li class="list-inline-item">Địa chỉ: <a href="#"><%= f.store_address %></a></li>
      </ul>
    </div>

    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">

      <div>
        <% get_stars(f.rating).each do |star| %>
          <%= content_tag(:i, '', class: "#{star} font-size-base text-warning-300") %>
        <% end %>
      </div>

      <div class="text-muted"><%= "#{f.rating} Sao" %></div>
    </div>
  </div>
</div>
