<div class="content-wrapper">
  <%= render 'page_header', title: t('title.general.list') %>
  <div class="content">
    <div class="d-flex align-items-start flex-column flex-md-row">
      <div class="w-100 overflow-auto order-2 order-md-1">
        <% if @feedbacks.any? %>
          <% @feedbacks.each  do |feedback| %>
            <%= render 'feedback', f: feedback %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-3 mb-3">
        <!-- <ul class="pagination">
          <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
        </ul> -->
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
  </div>
</div>
