<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
  <div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-main-toggle">
      <i class="icon-arrow-left8"></i>
    </a>
    <a href="#" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-user">
      <div class="card-body">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <%= image_tag "avatar-none.png", class: "rounded-circle", height: "38", width: "38" %>
            </a>
          </div>
          <div class="media-body">
            <div class="media-title font-weight-semibold"><%= @current_user.name %></div>
            <div class="font-size-xs opacity-50">
            </div>
          </div>
          <div class="ml-3 align-self-center">
            <a href="#" class="text-white"><i class="icon-cog3"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-sidebar-mobile">
      <ul class="nav nav-sidebar" data-nav-type="accordion">
        <li class="nav-item">
          <%= link_to admin_statistics_path, class: "nav-link" do %>
            <i class="icon-chart"></i><span><%= t('button.main.statistic') %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_feedbacks_path, class: "nav-link" do %>
            <i class="icon-pen"></i><span><%= t('button.main.feedback') %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_stores_path, class: "nav-link" do %>
            <i class="icon-home"></i><span><%= t('button.main.store') %></span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_cities_path, class: "nav-link" do %>
            <i class="icon-location3"></i><span><%= t('button.main.city') %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
