<%= form_for(@store, url: admin_stores_path, remote: true) do |f| %>
  <div class="modal-body">
    <div class="form-group row">
      <%= f.label :name, Store.human_attribute_name(:name),
          class: "col-form-label col-lg-3" %>
      <div class="col-lg-5">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :phone, Store.human_attribute_name(:phone),
          class: "col-form-label col-lg-3" %>
      <div class="col-lg-5">
        <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :address, Store.human_attribute_name(:address),
          class: "col-form-label col-lg-3" %>
      <div class="col-lg-5">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :city_id, Store.human_attribute_name(:city),
        class: "col-form-label col-lg-3" %>
      <div class="col-lg-5">
        <%= f.select :city_id, @cities.collect { |e| [e.name, e.id] },
          { include_blank: t('select.city')},
          class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :status, Store.human_attribute_name(:status),
        class: "col-form-label col-lg-3" %>
      <div class="col-lg-5">
        <%= f.select :status, get_selection_status, {}, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button(:submit, class: "btn btn-primary") do %>
      <i class="icon-coins"></i>
    <% end %>
  </div>
<% end %>
