<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4>
        <i class="icon-arrow-left52 mr-2"></i>
        <span class="font-weight-semibold"><%= t('text.manager') %></span>
        <%= t('text.store') %>
      </h4>
      <a href="#" class="header-elements-toggle text-default d-md-none">
        <i class="icon-more"></i></a>
    </div>
    <div class="header-elements d-none">
      <div class="d-flex justify-content-center">
        <%= link_to new_admin_store_path, class: "btn btn-link btn-float", remote: true do %>
          <i class="icon-add"></i>
          <span><%= t('title.store.register') %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <%= link_to root_path, class: "breadcrumb-item" do %>
          <i class="icon-home2 mr-2"></i><%= t('button.main.home') %>
        <% end %>
        <%= link_to t('button.main.store'), admin_stores_path, class: "breadcrumb-item" %>
        <span class="breadcrumb-item active"><%= title %></span>
      </div>
      <a href="#" class="header-elements-toggle text-default d-md-none">
        <i class="icon-more"></i></a>
    </div>
  </div>
</div>
