<tr>
  <td><%= store.id %></td>
  <td><%= store.name %></td>
  <td><%= store.address %></td>
  <td><%= store.phone %></td>
  <td><%= store.city_name %></td>
  <td>
    <%= content_tag("span", t("status.#{store.status}"),
      class: "badge #{badge_class(store.status)}") %>
  </td>
  <td class="text-center">
    <div class="list-icons">
      <div class="dropdown">
        <a href="#" class="list-icons-item" data-toggle="dropdown">
          <i class="icon-menu9"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to t('button.action.edit'), edit_admin_store_path(store), remote: true,
            class: "dropdown-item text-success" %>
        </div>
      </div>
    </div>
  </td>
</tr>
