<% @messages.each do |m| %>
  if ('<%= m %>' !== '') {
    new PNotify({
      title: 'Thông báo',
      text: '<%= m %>',
      type: 'bg-primary border-primary'
    });

    if ('<%= m %>' === '<%= t("messages_alert.store.create.success") %>') {
      setTimeout(function(){
        location.reload();
      }, 1000);
    }
  };
<% end %>

