<div class="content-wrapper">
  <%= render 'page_header', title: t('title.general.list') %>
  <div class="content">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title"><%= t('title.store.list') %></h5>
        <div class="header-elements">
          <div class="list-icons">
            <a class="list-icons-item" data-action="collapse"></a>
            <a class="list-icons-item" data-action="reload"></a>
          </div>
        </div>
      </div>
      <table class="table datatable-basic">
        <thead>
          <tr>
            <th><%= Store.human_attribute_name("id") %></th>
            <th><%= Store.human_attribute_name("name") %></th>
            <th><%= Store.human_attribute_name("address") %></th>
            <th><%= Store.human_attribute_name("phone") %></th>
            <th><%= Store.human_attribute_name("city") %></th>
            <th><%= Store.human_attribute_name("status") %></th>
            <th class="text-center"><%= t('table.action') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @stores %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="modal_store" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t("title.store.register") %></h5>
        <button type="button" class="close" id="close-export"
          data-dismiss="modal">&times;</button>
      </div>
      <div class="form-modal">
      </div>
    </div>
  </div>
</div>
<div id="modal_store_edit" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t("title.store.edit") %></h5>
        <button type="button" class="close" id="close-export"
          data-dismiss="modal">&times;</button>
      </div>
      <div class="form-modal">
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    DatatableBasic.init();
    InputsBasic.init();
  });
</script>
