<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4>
        <i class="icon-arrow-left52 mr-2"></i>
        <span class="font-weight-semibold"><%= t('text.manager') %></span>
        <%= t('text.statistic') %>
      </h4>
      <a href="#" class="header-elements-toggle text-default d-md-none">
        <i class="icon-more"></i></a>
    </div>
    <div class="header-elements d-none">
    </div>
  </div>
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <%= link_to root_path, class: "breadcrumb-item" do %>
          <i class="icon-home2 mr-2"></i><%= t('button.main.home') %>
        <% end %>
        <%= link_to t('button.main.statistic'), admin_statistics_path, class: "breadcrumb-item" %>
      </div>
      <a href="#" class="header-elements-toggle text-default d-md-none">
        <i class="icon-more"></i></a>
    </div>
  </div>
</div>
