<div class="content-wrapper">
  <%= render 'page_header', title: t('title.general.list-mini') %>
  <div class="content">
    <div class="row">
      <div class="col-sm-6 col-xl-3">
        <div class="card card-body">
          <div class="media">
            <div class="mr-3 align-self-center">
              <i class="icon-pen icon-3x text-success-400"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="font-weight-semibold mb-0">
                <%= @feedback_data[:overview][:quantity] %>
              </h3>
              <span class="text-uppercase font-size-sm text-muted">
                <%= Feedback.human_attribute_name(:feedback) %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card card-body">
          <div class="media">
            <div class="mr-3 align-self-center">
              <i class="icon-users  icon-3x text-indigo-400"></i>
            </div>
            <div class="media-body text-right">
              <h3 class="font-weight-semibold mb-0">
                <%= @feedback_data[:overview][:user] %>
              </h3>
              <span class="text-uppercase font-size-sm text-muted">
                <%= Feedback.human_attribute_name(:user) %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card card-body">
          <div class="media">
            <div class="media-body">
              <h3 class="font-weight-semibold mb-0">
                <%= @city_quantity %>
              </h3>
              <span class="text-uppercase font-size-sm text-muted">
                <%= t('button.main.city') %>
              </span>
            </div>

            <div class="ml-3 align-self-center">
              <i class="icon-location3 icon-3x text-blue-400"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="card card-body">
          <div class="media">
            <div class="media-body">
              <h3 class="font-weight-semibold mb-0">
                <%= @store_quantity %>
              </h3>
              <span class="text-uppercase font-size-sm text-muted">
                <%= t('button.main.store') %>
              </span>
            </div>
            <div class="ml-3 align-self-center">
              <i class="icon-home icon-3x text-danger-400"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xl-6">
        <div class="card card-body text-center">
          <h4 class="font-weight-semibold mb-0 mt-1">
            Xếp hạng phản hồi theo tuần
          </h4>
          <div class="svg-center" id="donut_basic_stats"></div>
          <div class="row text-center">
            <div class="col-6">
              <div class="mt-3">
                <h5 class="font-weight-semibold mb-0 field-currency">
                </h5>
                <span class="text-muted font-size-sm">
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="mt-3">
                <h5 class="font-weight-semibold mb-0 field-currency">
                </h5>
                <span class="text-muted font-size-sm">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-6">
        <div class="card card-body text-center">
          <h4 class="font-weight-semibold mb-0 mt-1">
            Xếp hạng phản hồi theo tháng
          </h4>
          <div class="svg-center" id="donut_basic_stats_month"></div>
          <div class="row text-center">
            <div class="col-6">
              <div class="mt-3">
                <h5 class="font-weight-semibold mb-0 field-currency">
                </h5>
                <span class="text-muted font-size-sm">
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="mt-3">
                <h5 class="font-weight-semibold mb-0 field-currency">
                </h5>
                <span class="text-muted font-size-sm">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
          <div class="list-icons">
            <a class="list-icons-item" data-action="collapse"></a>
            <a class="list-icons-item" data-action="reload"></a>
            <a class="list-icons-item" data-action="remove"></a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="chart has-fixed-height" id="area_stacked"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {

    var normal_w = <%= @feedback_data[:week_chart][:normal] %>;
    var good_w = <%= @feedback_data[:week_chart][:good] %>;
    var bad_w = <%= @feedback_data[:week_chart][:bad] %>;
    if(normal_w !== 0 || good_w !== 0 || bad_w !== 0) {
      StatisticWidgets.animatedDonut(normal_w, good_w, bad_w);
    }

    var normal_m = <%= @feedback_data[:month_chart][:normal] %>;
    var good_m = <%= @feedback_data[:month_chart][:good] %>;
    var bad_m = <%= @feedback_data[:month_chart][:bad] %>;
    if(normal_m !== 0 || good_m !== 0 || bad_m !== 0) {
      StatisticWidgets.animatedDonutMonth(normal_m, good_m, bad_m);
    }

    var data_month = <%= raw(@feedback_data[:year_chart][:months]) %>;
    var data_normal = <%= raw(@feedback_data[:year_chart][:normals]) %>;
    var data_good = <%= raw(@feedback_data[:year_chart][:goods]) %>;
    var data_bad = <%= raw(@feedback_data[:year_chart][:bads]) %>;
    EchartsAreas.init(data_month, data_normal, data_good, data_bad);

  })
</script>
