<tr>
  <td class="text-center"><%= city.id %></td>
  <td class="text-center"><%= city.name %></td>
  <td class="text-center"><%= city.stores.size %></td>
  <td class="text-center">
    <div class="list-icons">
      <div class="dropdown">
        <a href="#" class="list-icons-item" data-toggle="dropdown">
          <i class="icon-menu9"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to t('button.action.edit'), edit_admin_city_path(city), remote: true,
            class: "dropdown-item text-success" %>
        </div>
      </div>
    </div>
  </td>
</tr>
