<%= form_for(@city, url: admin_city_path(@city), remote: true) do |f| %>
  <div class="modal-body">
    <div class="form-group row">
      <%= f.label :name, City.human_attribute_name(:name),
          class: "col-form-label col-lg-3" %>
      <div class="col-lg-5">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button(:submit, class: "btn btn-primary") do %>
      <i class="icon-coins"></i>
    <% end %>
  </div>
<% end %>

