if ('<%= @messages %>') {
  new PNotify({
    title: 'Thông báo',
    text: '<%= @messages %>',
    type: 'bg-primary border-primary'
  });

  if ('<%= @messages %>' === '<%= t("messages_alert.city.create.success") %>') {
    setTimeout(function(){
      location.reload();
    }, 1000);
  }
};

