<%= stylesheet_link_tag 'admin/pnotify.custom.min.css', media: 'all' %>
<div id="wrapper" class="clearfix">
  <%= render "homes/shared/header" %>
  <section id="slider" class="slider-element swiper_wrapper slider-parallax force-full-screen full-screen clearfix" data-effect="fade" data-loop="true" data-autoplay="6000" data-speed="1400">
    <div class="slider-parallax-inner">
      <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
          <div class="swiper-slide background-2">
            <div class="container dark clearfix">
              <div class="slider-caption slider-caption-right">
                <h2 class="font-secondary ls0 t400 nott" data-animate="fadeIn"></h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide background-3">
            <div class="container dark clearfix">
              <div class="slider-caption slider-caption-center" style="margin-top: -30px;">
                <%= image_tag "slider-logo.png", data: { animate: 'fadeIn' },
                  style: "width: 120px; margin-bottom: 10px;" %>
                <h2 class="font-secondary ls0 t400 nott" data-animate="fadeIn" data-delay="400"></h2>
                <div class="static-content" style="position: relative; display: flex; justify-content: center; flex-direction: row; margin-top: 30px" data-animate="fadeIn" data-delay="1000">
                  <%= image_tag "icons/bowl-white.svg", width: "42px",
                    height: "42px" %>
                  <%= image_tag "icons/spoon-white.svg", class: "leftmargin-sm",
                    width: "42px", height: "42px" %>
                  <%= image_tag  "icons/glass-white.svg", class: "leftmargin-sm",
                    width: "42px", height: "42px" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
      </div>
    </div>
  </section>

  <section id="content" style="overflow: visible;">
    <div class="start-content" style=""></div>
    <div class="content-wrap">
      <div class="section nomargin clearfix background-4">
        <div class="container clearfix">
          <div class="heading-block nobottomborder bottommargin-sm">
            <h2 class="font-secondary color nott" style="font-size: 52px;">Chúng Tôi Làm Gì?</h2>
          </div>
          <div class="row clearfix">
            <div class="col-lg-3 bottommargin-sm">
              <div class="feature-box media-box" style="max-width: 400px">
                <div class="fbox-media" style="width: 70px; height: auto;">
                  <%= image_tag "icons/bowl.svg"%>
                </div>
                <h3>Phục vụ đồ ăn!</h3>
                <p>Chúng tôi mang đến những món ăn ngon nhất có thể cho quý khách. Rất hân hạnh được phục vụ các bạn tại cửa hàng của chúng tôi.</p>
              </div>
            </div>
            <div class="col-lg-3 bottommargin-sm">
              <div class="feature-box media-box" style="max-width: 400px">
                <div class="fbox-media" style="width: 70px; height: auto;">
                  <%= image_tag "icons/spoon.svg"%>
                </div>
                <h3>Thời gian và không gian!</h3>
                <p>Có nhiều sự lựa chọn thời gian và địa điểm để phù hợp với quỷ thời gian và sở thích của các bạn. Hãy chọn riêng cho mình điều đặc biệt ở chúng tôi
                </p>
              </div>
            </div>
            <div class="col-lg-3 bottommargin-sm">
              <div class="feature-box media-box" style="max-width: 400px">
                <div class="fbox-media" style="width: 70px; height: auto;">
                  <%= image_tag "icons/glass.svg"%>
                </div>
                <h3>Bánh mì!</h3>
                <p>Tuyệt! Từ để nói về các sản phẩm bánh mì của chúng tôi. Hãy đến và thử những món về bánh mì tại cửa hàng để được cảm nhận và trải nghiệm nó. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="line clear"></div>
      <div class="container section-contact topmargin-lg clearfix">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-map"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Địa chỉ</h3>
            <span class="font-primary">206 Ngũ Hành Sơn<br>Đà Nẵng, Việt Nam</span>
          </div>
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-clock"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Thời gian mở cửa</h3>
            <span class="font-primary">Chủ Nhật - Thứ 5 | 07:00 AM - 11:00 PM<br>
            Thứ 6 - Thứ 7 | 08:00 AM - 01:00 AM</span>
          </div>
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-clipboard"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Liên Hệ</h3>
            <span class="font-primary"><strong>Mobile: </strong>+84-703-185-954<br>
              <strong>Mail: </strong>admin@gmail.com</span>
          </div>
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-heart"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Mạng xã hội</h3>
            <div style="display: flex; justify-content: center">
              <a href="#" class="social-icon si-borderless si-facebook">
                <i class="icon-line2-social-facebook"></i>
                <i class="icon-line2-social-facebook"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-twitter">
                <i class="icon-line2-social-twitter"></i>
                <i class="icon-line2-social-twitter"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-youtube">
                <i class="icon-line2-social-youtube"></i>
                <i class="icon-line2-social-youtube"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-email3">
                <i class="icon-line2-envelope"></i>
                <i class="icon-line2-envelope"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <div class="end-content"></div>
  </section>

  <%= render "homes/shared/footer" %>

</div>
<div id="gotoTop" class="icon-line-arrow-up"></div>

<%= javascript_include_tag 'plugins' %>
<%= javascript_include_tag 'functions' %>

<script>
  $(function() {
    if ('<%= @message %>') {
      new PNotify({
        title: 'Thông báo',
        text: '<%= @message %>',
        type: 'bg-primary border-primary'
      });
    };
  })
</script>
