<%= stylesheet_link_tag 'admin/pnotify.custom.min.css', media: 'all' %>
<div id="wrapper" class="clearfix">
  <%= render "homes/shared/header" %>

  <section id="slider" class="slider-element clearfix slide-feedback">
    <div class="vertical-middle">
      <div class="container">
        <div class="row clearfix parallax" data-0="opacity: 1;margin-top:15px" data-800="opacity: 0.1;margin-top:100px">
          <div class="col-md-6">
            <div class="heading-block nobottomborder nobottommargin">
              <h2 class="font-secondary color nott" style="font-size: 32px">
                Feedback
              </h2>
            </div>
            <h3 class="t600 mb-2" style="font-size: 30px;">Khảo sát ý kiến khách hàng</h3>
            <p style="color: #AAA; line-height: 1.6">Phản hồi của Bạn giúp chúng tôi cải thiện chất lượng sản phẩm và dịch vụ. Chúng tôi xin chân thành cảm ơn.</p>
            <%= form_for(@feedback, url: feedback_path, remote: true,
              html: {class: "mb-0 row"}) do |f| %>
              <div class="form-process"></div>
              <div class="col-sm-6 mb-3">
                <%= f.text_field :name, class: "form-control",
                  placeholder: "Tên của bạn" %>
              </div>
              <div class="col-sm-6 mb-3">
                <%= f.text_field :email, class: "form-control",
                  placeholder: "Email của bạn", type: "email" %>
              </div>
              <div class="clear"></div>
              <div class="col-6 mb-3">
                <%= select(:city, :id, City.all.collect { |e| [e.name, e.id] },
                  { include_blank: t('select.city')},
                  class: "form-control") %>
              </div>
              <div class="col-6 mb-3">
                <%= f.select :store_id, @stores.collect { |e| [e.name, e.id] },
                  { include_blank: t('select.store')},
                  class: "form-control", id: "feedback_store_id" %>
              </div>
              <div class="clear"></div>
              <div class="col-sm-12 mb-3">
                <%= f.text_area :content, class: "form-control",
                    placeholder: "Ý kiến của bạn", rows: 3 %>
              </div>
              <div class="clear"></div>
              <div class="col-12 nobottommargin">
                <%= f.button(:submit, class: "button button-circle button-large text-white ml-0 mt-3", id: :send_feedback ) do %>
                  Gửi ngay
                <% end %>
              </div>
              <div class="clear"></div>
              <div class="col-12 hidden">
                <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
              </div>
              <input type="hidden" name="prefix" value="template-contactform-">
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="video-wrap d-block d-md-none" style="position: absolute; height: 100%; z-index: 1;">
      <div class="video-overlay" style="background: rgba(255,255,255,0.8);"></div>
    </div>
  </section>
  <section id="content" style="overflow: visible;">
    <div class="start-content" style=""></div>
    <div class="content-wrap">
      <div class="container section-contact topmargin-lg clearfix">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-map"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Địa chỉ</h3>
            <span class="font-primary">206 Ngũ Hành Sơn<br>Đà Nẵng, Việt Nam</span>
          </div>
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-clock"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Thời gian mở cửa</h3>
            <span class="font-primary">Chủ Nhật - Thứ 5 | 07:00 AM - 11:00 PM<br>
            Thứ 6 - Thứ 7 | 08:00 AM - 01:00 AM</span>
          </div>
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-clipboard"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Liên Hệ</h3>
            <span class="font-primary"><strong>Mobile: </strong>+84-703-185-954<br>
              <strong>Mail: </strong>admin@gmail.com</span>
          </div>
          <div class="col-lg-3 col-md-6 bottommargin-sm center">
            <i class="i-plain i-xlarge divcenter nobottommargin icon-et-heart"></i>
            <h3 class="uppercase font-body" style="font-size: 22px; font-weight: 700;margin-top: 20px">Mạng xã hội</h3>
            <div style="display: flex; justify-content: center">
              <a href="#" class="social-icon si-borderless si-facebook">
                <i class="icon-line2-social-facebook"></i>
                <i class="icon-line2-social-facebook"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-twitter">
                <i class="icon-line2-social-twitter"></i>
                <i class="icon-line2-social-twitter"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-youtube">
                <i class="icon-line2-social-youtube"></i>
                <i class="icon-line2-social-youtube"></i>
              </a>
              <a href="#" class="social-icon si-borderless si-email3">
                <i class="icon-line2-envelope"></i>
                <i class="icon-line2-envelope"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    <div class="end-content"></div>
  </section>

  <%= render "homes/shared/footer" %>

</div>
<div id="gotoTop" class="icon-line-arrow-up"></div>

<%= javascript_include_tag 'plugins' %>
<%= javascript_include_tag 'functions' %>
<%= javascript_include_tag 'homes' %>
