<footer id="footer" class="dark" style="">
  <div id="copyrights" class="nobg">
    <div class="container clearfix">
      <div class="col_half nobottommargin">
      </div>
      <div class="col_half col_last nobottommargin">
        <div class="copyrights-menu copyright-links fright clearfix">
        </div>
      </div>
    </div>
  </div>
</footer>

