<header id="header" class="static-sticky transparent-header split-menu clearfix">
  <div id="header-wrap" class="background-sketch-header">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <div id="logo">
        <a href="/" class="standard-logo">
        </a>
        <a href="/" class="retina-logo">
        </a>
      </div>
      <nav id="primary-menu" class="with-arrows clearfix">
        <ul>
          <li><a href="/"><div><%= t('main_user.bar.home') %></div></a></li>
          <li><a href="/feedback"><div><%= t('main_user.bar.feedback') %></div></a></li>
        </ul>
        <ul>
          <% unless logged_in? %>
            <li>
              <%= link_to login_path, class: "color" do %>
                <div>
                  <%= t('main_user.bar.login') %>
                </div>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to admin_stores_path do %>
                <div>
                  <%= t('main_user.bar.manager') %>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete, class: "color" do %>
                <%= t('main_user.bar.logout') %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
