<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Chào bạn <%= @name %></h1>
    <p>
      Cảm ơn bạn đã gửi phản hồi cho chúng tôi.

    </p>
  </body>
</html>
