.background-sketch-header {
  background-image: url('sketch-header.png');
}

.background-1 {
  background-image: url('slider/1.jpg');
  background-position: center center;
}

.background-1 {
  background-image: url('slider/2.jpg');
  background-position: center bottom;
}

.background-3 {
  background-image: url('slider/3.jpg');
  background-position: center center;
}

.start-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: url('sketch.png') repeat center bottom;
  background-size: auto 100%;
  height: 40px;
  margin-top: -40px;
}

.end-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: url('sketch-header.png') repeat center bottom; background-size: auto 100%;
  height: 40px;
  margin-bottom: -10px;
}

.background-4 {
  padding: 40px 0;
  background: url('sections/4.jpg') center center no-repeat;
  background-size: 100% auto;
}

.background-5 {
  background: #FFF url('images/sections/5.jpg') no-repeat top left / cover; padding: 60px 0;
  border-top: 1px solid #EEE;
}

.footer {
  background: url('footer-bg.jpg')  repeat center center / cover;
  background-size: auto 100%;
  padding: 50px 0 22px;
}

.slash {
  content: " /";
}

.slide-feedback {
  height: 600px;
  background: #f5f5f5 url('sections/about-us.jpg') right center no-repeat;
  background-size: auto 100%;
}
