<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= render "shared/main_navbar" %>
    <div class="page-content">
      <%= render "shared/main_sidebar" %>
      <%= yield %>
    </div>
  </body>
</html>
